.post-slider {
  width: 100%;
  max-width: 1360px;
  padding:100px 0;

  .post__grid {
    display: flex;
    gap: 20px;
  }

  .post {
    margin-right: 20px;
    max-width: 350px;
  }
  .post__img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .post__title {
    a {
      text-decoration: none;
    }
  }
}